 a:link {
    color: rgb(4, 135, 12); 
 }

 a:visited {
    color: rgb(236, 4, 4); 
 }

 a:hover {
    color: rgb(4, 4, 236); 
 }

 .outer {
    border: solid black;
 }

 .box {
    background-color: rebeccapurple;
    color: white;
    width: calc(90% - 20px);
    margin: 3%;
    padding: 1%;
    height: 55%;
    transform: rotate(10deg);
 }

